h1.one {color:Darkblue;font-family:Tahoma;font-size:40pt;text-align:center}
h1.two {color:#FF0000;font-family:Arial;text-align:center;font-size:30pt;text-decoration:underline;}
body{background-color:#7dc623}
p{font-size:24pt;font-style:italic;text-align:right}